@charset "utf-8";
/* CSS Document */

body {
	display: flex;
	font-family: 'Prompt', sans-serif;
	max-width: 900px;
	margin: auto;
	border: 1px solid grey;
}

h1 {
  	margin-bottom: 0;
	font-size: 35px;
	padding: 0 50px 0 50px;	
}

h2 {	
  	font-size: 14px;
	color: #00838F;
	text-align: center;
	background-color: #263238;
	padding: 12px;
	margin: 0;		
}

h3 {	
	padding: 0 50px 80px 50px;
	margin-top: 5px;
}

h4 {	
	padding-bottom: 10px;
	border-bottom: solid 3px #00838F
}

h5 {
	font-size: 14px;
	margin: 0
}

p {
    font-size: 14px;    
    padding: 0;
}

ul {
    list-style: none;
}

li {
	padding: 0;
	margin: 0;
}

/* Aside */

aside {
	background-color: #00838F;	
	width: 30%;
	display: flex;
	flex-direction: column;
}

img {
    border-radius: 100px;
	width: 50%;
	margin:40px 0;
}

.photo {
	background-color: #00838F;
	text-align: center;
	width: 100%;	
}

.left {
	padding: 0 40px 0 40px;
}

.box1, .box3 {
	flex-shrink: 1;
}

.box2 {
	flex-grow: 1; 
}

footer {
	background-color: #00838F;
	width: 100%;
}

.loisirs {	
	display: flex;
	justify-content: space-around;
	padding: 15px;
}

/* Main */

main {	
	width: 70%;
}

.photo2 {
	display: none;
}

.surligntitre {
	border-bottom: #00838F 3px solid;
}

.namecolor {
	color: #00838F;
}

.fa-hiking {
	border-radius: 100px;
	border: 2px solid black;
	padding: 20px 24px;
	font-size: 30px;
}

.fa-rocket, .fa-blender {
	border-radius: 100px;
	border: 2px solid black;
	font-size: 30px;	
	padding: 20px;
}

.fa-graduation-cap, .fa-suitcase, .fa-pencil-alt {
	color: #00838F;
	margin-right: 12px;
}

.dot {
	color: #00838F;
	margin-right: 20px
}

.time {
	font-size: 14px;
	min-width: 130px;
	margin-right: 20px;
}

.infosparcours {	
	margin: 0 50px 0 50px;
	text-align: left;
}

.parcoursection {
	display: flex;
	text-align: left;	
}

/* Media Queries */

@media all and (max-width: 800px) {

	body {
		flex-direction: column-reverse;
	}

	header {
		flex-direction: column;		
	}

	.photo {
		display: none;
	}

	.photo2 {
		background-color: #00838F;
		text-align: center;
		width: 100%;
		display: revert;	
	}

	img {
		width: auto;
		margin-bottom: 40px;
		border-radius: 100%;
	}
	
	aside {
		width: auto;
		margin: auto;
	}

	main {
		width: auto;
	}
	
	.parcours {
		width: 100%;
		margin: auto;
	}

	.parcoursection {
		flex-direction: column;
		margin: auto;
	}

	footer {
		width: 100%;
	}

	.loisirs {
		display: flex;	
		justify-content: space-around;
		padding: 15px;
	}
}